<header>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body id="myPage">
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a class="w3-bar-item w3-button w3-coral"><i class="fa fa-home w3-margin-right"></i>IDIB-Bank</a>
  <a routerLink="home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
  <a routerLink="Register" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Register</a>
  <a routerLink="Account" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Account</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Requests <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a routerLink="Cheque" class="w3-bar-item w3-button">Cheque Request</a>
      <a routerLink="Loan"class="w3-bar-item w3-button">Loan Request</a>
    </div>
    </div>
  
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Profile <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a routerLink="Profile" class="w3-bar-item w3-button" >View Profile</a>
      <a routerLink="/addcustomer"class="w3-bar-item w3-button">Logout</a>
    </div>
    </div>
  <a routerLink="aboutus" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Admin</a>
</div>
</div>
    </body>
    </header>